
.global{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.smcMain{
  margin-left: 30px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.smcTitle{
  width: 100%;
  display: flex;
  justify-content: center;
}

.cardsArea{
  width: 50%;
  height: 100%;
  z-index: 1;
}

.interactionCardsArea{
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 75%;
  align-items: end;
  justify-content: center;
  gap: 25px;
  position: fixed;
  z-index: 0;
}