.main{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1em; 
    flex-wrap: wrap;
}

.main div {
    flex: 1; 
    margin: 0 1em; 

}

.main .img {
    width: 100%; /* Ajusta a largura para ocupar 100% do contêiner */
    max-width: 800px; /* Define um limite de largura máxima */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.main h1{
    color: #37D111;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.main p{
    font-size: 26px;
    text-align: start;
}